.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  max-width: 1500px;
}

.slider {
  display: flex;
  overflow: hidden;
  gap: 15px;
  flex-wrap: nowrap;
  width: 90%;
  flex-wrap: nowrap;
}

.slider-button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 40px;
  height: 50px;
}

.slider-arrow{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.slider-arrow:hover{
  opacity: 1;
  transition: all ease 0.3s;
}

.prev{
  transform: rotate(180deg);
}

.slider-card {
  flex: 0 0 calc(100% / 5 - 15px); /* 4 tarjetas en escritorio */
  width: calc(100% / 4 - 15px);
  text-align: center;
  border: 1px solid #ddd;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  height: 340px;
}

.slider-image {
  width: 100%;
  height: 170px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 4px;
}


.slider__text{
  display: grid;
  padding: 0px;
  place-content: center;
  height: 156px;
}
.slider-link {
  display: block;
  margin-top: 0px;
  text-decoration: none;
  color: #007bff;
  align-self: end;
}

.slider-link:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) and (min-width: 800px) {
  .slider-card {
    flex: 0 0 calc(100% / 3 - 15px);
    width: calc(100% / 3 - 15px);
  }
  .slider-arrow{
    width: 30px;
    height: 35px;
  }
}

@media (max-width: 800px) {
  .slider-container {
    padding: 4px;
    gap: unset;
  }

  .slider-card {
    flex: 0 0 49%;
    width: 49%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    height: max-content;
    padding: 0 0 4px 0;
  }
  .slider {
    width: 95%;
    gap: unset;
  }
  .slider__title {
    font-size: 17px;
    display: grid;
    place-items: center;
  }
  .slider-button {
    padding: unset;
    width: 20px;
  }
  .slider__tag {
    font-size: 14px;
  }
  .slider__price {
    font-size: 14px;
  }
  .slider__text {
    display: grid;
    height: 45%;
    min-height: 110px;
    align-items: center;
    justify-content: center;
  }
  .slider-link {
    align-self: unset;
  }
  .slider-image {
    height: 162px;
    margin-bottom: unset;
  }
  .slider-arrow{
    width: 15px;
    height: 28px;
  }
}
