---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PaginationSlider from "../../components/PaginationSlider";
import Band from "../../components/Band.astro";

const page = "Trípodes";
const slug = "tripodes";
const allEntries = await getCollection("accesorios");
const entries = allEntries.filter((entry) => entry.slug.startsWith(`${slug}/`));

// Filtra las entradas pertenecientes a la subcarpeta actual

function capitalizeFirstLetter(string) {
  if (!string) return ""; // Maneja cadenas vacías o nulas
  return string.charAt(0).toUpperCase() + string.slice(1);
}
---

<Layout title={"Dkart | " + page} theme="white">
  <Band title={page} />
  <div class="separador"></div>
  <PaginationSlider items={entries} sect={"/accesorios/"} client:idle />
</Layout>

<style>
  .separador {
    width: 100%;
    height: 30px;
  }
</style>
