---
import Layout from "../layouts/Layout.astro";


const links=[
    {

    },
    {

    }
]
---

<Layout title="Contacto">
    <article class="flex--row--wrap">
        <article>
            <section>
                <h2>
                    DESCARTES ENGINEERING COMPANY DKART C.A
                </h2>
                <p>
                    Quito-Ecuador
                </p>
            </section>
            <section>
                <div>
                    <h3>
                        Número de Teléfono:
                    </h3>
                    <p>
                        +593 994 954 690 
                    </p>
                </div>
                <div>
                    <h3>
                        Correo Electrónico:
                    </h3>
                    <p>
                        pablo.dkart@gmail.com 
                    </p>
                </div>
                <div>
                    <h3>
                        Redes Sociales
                    </h3>
                    <div>
                        <a href="">
                            <img src="" alt="">
                            Facebook
                        </a>
                        <a href="">
                            <img src="" alt="">
                            Instagram
                        </a>
                        <a href="">
                            <img src="" alt="">
                            Whatsapp
                        </a>
                    </div>
                </div>
            </section>
        </article>
        <article>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d997.4512486626734!2d-78.4773983!3d-0.1480833!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59aaafab6a1b5%3A0x2e0d91be8de27288!2sDKART!5e0!3m2!1ses!2sec!4v1732654360879!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>
    </article>
</Layout>