---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicio Técnico">
    <article>
        <section>
            <h1>

            </h1>
            <p>

            </p>
            <p>

            </p>
        </section>
        <section>
            <img src="" alt="">
        </section>
    </article>
    <article>

    </article>
    <article>
        
    </article>
</Layout>

<style>

</style>