---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicio Técnico" >
    <article class="st__head">
        <section>
            <h1>
                Servicio Técnico
            </h1>
            <p>
                Mantenimiento, Calibración y Reparación de Equipos Topográficos y Geodésicos Multimarca
                Ofrecemos servicios especializados en el mantenimiento, calibración y reparación de equipos topográficos y geodésicos de cualquier marca.
                Nuestro equipo está compuesto por personal altamente experimentado y capacitado, asegurando precisión y confiabilidad en cada servicio.
            </p>
            <p>
                Confía en nosotros para mantener tus equipos en perfecto estado y garantizar su rendimiento óptimo.
            </p>
        </section>
        <section>
            <img src="/images/st1.jpg" alt="servicio-tecnico-hero">
        </section>
    </article>
    <article>

    </article>
    <article>
        
    </article>
</Layout>

<style>
    .st__head{
        display: grid;
    }
</style>