---
import Layout from "../layouts/Layout.astro";

const llamada = async () => {
  try {
    const respuesta = await fetch('http://localhost:4000/api/productos/equipos');

    // Asegúrate de usar 'await' aquí
    const data = await respuesta.json();
    return data.body;
  } catch (error) {
    console.log('Error al obtener los datos:', error);
  }
};

// Llama a la función para obtener los datos
const equipos= await llamada();
console.log(equipos);
---

<Layout title="test" theme="white">
    {equipos.map((equipo)=>(
        <p>
            {equipo.prod_nombre}
        </p>
    ))}
</Layout>