---
interface Props {
	title: string;
	theme: string
}

const { title, theme } = Astro.props;
import Header from '../components/Header.astro';
import '@fontsource-variable/nunito-sans';
import Footer from '../components/Footer.astro';


---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`/favicon.svg`/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex--col--nowrap bg--white">
		<Header />
		<main class={theme == "black" ? `flex--col--nowrap bg--black` : "flex--col--nowrap bg--white"}>
			<slot ></slot>
		</main>
		<Footer />
		<a href="https://api.whatsapp.com/send/?phone=593994954690&text&type=phone_number&app_absent=0" class="wsp__link">
			<img class="wsp__icon" src="/icons/wsp-icon.png" alt="Esrcibir a Whatsapp">
		</a>
	</body>
</html>

<style is:global>
	:root{
		--white: rgb(245, 245, 247);
		--red: #672434;
		--black: #222;
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		font-size: 17px;
		color: var(--black);
		font-family: 'Nunito Sans Variable', sans-serif;
		background-color: var(--white);
		align-items: center;
	}
	main{
		width: 100%;
		align-items: center;
	}
	.bg--black{
		background-color: var(--black);
	}
	.bg--white{
		background-color: var(--white);
	}
	a{
		text-decoration: none;
		color: inherit;
	}
	ul{
		list-style: none;
	}
	p{
		line-height: 1.5;
	}
	.wsp__link{
		position: fixed;
		bottom: 20px;
		z-index: 5;
		right: 20px;
	}
	.wsp__icon{
		width: 90px;
	}
	
	/* FLEX*/
	.flex--row--nowrap{
		display: flex;
		flex-flow: row nowrap;
	}
	.flex--col--nowrap{
		display: flex;
		flex-flow: column nowrap;
	}
	.flex--row--wrap{
		display: flex;
		flex-flow: row wrap;
	}
	.flex--rowreverse--wrap{
		display: flex;
		flex-flow: row-reverse wrap;
	}

	/* TEXT STYLE */
	.bold{
		font-weight: bold;
	}
	.color--red{
		color: var(--red);
	}
	@media (max-width: 800px){
		.wsp__icon{
			width: 60px;
		}
	}
</style>