---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import '@fontsource-variable/nunito-sans';


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`/favicon.svg`/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex--col--nowrap">
		<Header />
		<slot />
		<a href="" class="wsp__link">
			<img class="wsp__icon" src="/icons/wsp-icon.png" alt="Esrcibir a Whatsapp">
		</a>
	</body>
</html>

<style is:global>
	:root{
		--white: rgb(245, 245, 247);
		--red: #672434;
		--black: #222;
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		font-size: 17px;
		color: #222;
		font-family: 'Nunito Sans Variable', sans-serif;
		background-color: var(--white);
		align-items: center;
	}
	a{
		text-decoration: none;
		color: inherit;
	}
	ul{
		list-style: none;
	}
	p{
		line-height: 1.5;
	}
	.wsp__link{
		position: fixed;
		bottom: 20px;
		z-index: 5;
		right: 20px;
	}
	.wsp__icon{
		width: 90px;
	}
	
	/* FLEX*/
	.flex--row--nowrap{
		display: flex;
		flex-flow: row nowrap;
	}
	.flex--col--nowrap{
		display: flex;
		flex-flow: column nowrap;
	}
	.flex--row--wrap{
		display: flex;
		flex-flow: row wrap;
	}

	/* TEXT STYLE */
	.bold{
		font-weight: bold;
	}
	.color--red{
		color: var(--red);
	}
</style>