---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PaginationSlider from "../../components/PaginationSlider";
import Band from '../../components/Band.astro';

// Generar rutas dinámicas
export async function getStaticPaths() {
  const allEntries = await getCollection('equipos');

  // Obtén una lista única de subcarpetas desde los slugs
  const subcarpetas = Array.from(
    new Set(allEntries.map((entry) => entry.slug.split('/')[0]))
  );

  return subcarpetas.map((subcarpeta) => ({
    params: {subcarpeta: subcarpeta },
  }));
}

// Obtener las entradas de la subcarpeta actual
const { subcarpeta } = Astro.params;
const allEntries = await getCollection('equipos');

// Filtra las entradas pertenecientes a la subcarpeta actual
const entries = allEntries.filter((entry) =>
  entry.slug.startsWith(`${subcarpeta}/`)
);

function capitalizeFirstLetter(string) {
  if (!string) return ''; // Maneja cadenas vacías o nulas
  return string.charAt(0).toUpperCase() + string.slice(1);
}

let capitalizeTitle= capitalizeFirstLetter(subcarpeta.replace('-', ' '))
---
<Layout title={"Dkart | " + capitalizeTitle} theme='white'>
  <Band title={capitalizeTitle}/>
  <div class="separador">

  </div>
  <PaginationSlider items={entries} sect={"/equipos/"} client:idle/>
</Layout>

<style>
  .separador{
    width: 100%;
    height: 30px;
  }
</style>