---
import Layout from "../../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
import CardAcc from "../../components/CardAcc.astro";
import Band from "../../components/Band.astro";
import PaginationSlider from "../../components/PaginationSlider";

const allBlogPosts = await getCollection("equipos");
const allTags = allBlogPosts.map((tag, index) => {
  return tag.data.tag;
});
const filterTag = allTags.filter((tag, index, self) => {
  return self.indexOf(tag) === index;
});

const subcarpetas = Array.from(
  new Set(allBlogPosts.map((entry) => entry.slug.split("/")[0]))
);

const imgs = ["/images/e2-2.jpg", "/images/phantom4.webp", "/images/e3-1.png", "/images/e4.jpg", "/images/e5-1.webp"];

---

<Layout title="Dkart | Equipos" theme="white">
  <Band title="Equipos" />
  <section class="cats">
    {
      filterTag.map((cat, index) => {
        return (
          <CardAcc
            titles={cat.toUpperCase()}
            links={"/equipos/" + subcarpetas[index]}
            imgs={imgs[index]}
          />
        );
      })
    }
  </section>
  <section class="prod">
    <div class="prod__text">
      <h1 class="prod__title">Venta de Equipos Topográficos en Quito</h1>
      <p>
        Explora nuestro catálogo de drones y equipos topográficos diseñados para
        profesionales. Desde levantamientos de terreno hasta monitoreo aéreo,
        nuestra tecnología de punta garantiza precisión y eficiencia en cada
        proyecto.
      </p>
    </div>
    <PaginationSlider items={allBlogPosts} sect="/equipos/" client:only />
   
  </section>
</Layout>

<style>
  .cats {
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    row-gap: 40px;
    margin-top: 40px;
    place-items: center;
  }
  .prod{
    margin-top: 70px;
    width: 90%;
    max-width: 1400px;
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    text-align: center;
  }
  .prod__title{
    border-top: 2px solid var(--black);
    padding-top: 40px;
    font-size: 40px;
    margin-bottom: 10px;
  }
  @media (max-width: 1200px) and (min-width: 800px){
    .cats {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
    place-items: center;
    justify-content: space-evenly;
    align-items: center;
  }
  }
  @media (max-width:800px){
    .cats {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 40px;
    place-items: center;
  }
  }
</style>
